.App {
  text-align: center;
  position: relative;
  height: 100vh;
}

.App-logo {
  pointer-events: none;
}
.App-logo img {
  position: absolute;
  width: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #347ab4;
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}
.App-header div {
  width: 33%;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

.navbar div a {
  text-align: center;
  padding: 1em;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchbar img {
  width: 20px;
  margin: 0 10px;
}

.footer {
  background-color: #347ab4;

  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: #ffffff;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.footer div {
  width: 50%;
}

.card {
  display: inline-block;
  margin: 20px;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  background-color: beige;
}
.card img {
  width: 100%;
}
.card h1 {
  text-align: left;
  font-size: 24px;
  font-family: "Arial";
  font-weight: 600;
}
.card p {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
}

.add-card {
  width: 300px;
  margin: 0 auto;
  background-color: beige;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}
.form-control label {
  padding: 0 20px 0 0;
}
.form-control input {
  float: right;
}
.btn {
  margin: 10px;
}
